Full editor background
.editor-wrapper {
  min-height: 100vh;
  background: #f2f2f2; /* light gray like Google Docs */
  display: flex;
  justify-content: center;
  padding: 400px 0;
}

/* A4 page */

.a4-page {
  width: 210mm;
  min-height: 297mm;
  background: white;

  /* Center horizontally only */
  margin: 0 auto;

  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}

/* Make Quill respect page width */
.a4-page .ql-editor {
  /* INNER content padding */
  padding: 12mm 10mm;

  min-height: 247mm;
  font-size: 12pt;
  line-height: 1.6;

  box-sizing: border-box;
}


/* Print rules */
@media print {
  body {
    background: none;
  }

  .editor-wrapper {
    padding: 0;
  }

  .a4-page {
    box-shadow: none;
    width: 210mm;
    min-height: 297mm;
    page-break-after: always;
  }
}
